.mgw-radio{
  display:block;
  margin:auto;
}

.mgw-select-submit{
  margin-left:50px;
  margin-bottom:20px;
}
.mgw-displayusers{
  border: 1px solid black;
  height:600px;
  overflow: auto;
}

.mgw-specialcheckaccount-user{
  border-radius:10px;
  margin:15px;
  width:85%;
  line-height:1.3;
}

.mgw-specialcheckaccount-mgw-out{
  background:#f6f6f6;
}

.mgw-specialcheckaccount-mgw-in{
  background:#fadfaa;
}

.mgw-td-first{
  width:20px;
  font-size:small;
}

.mgw-td-label{
  width:80px;
}

.mgw-td-button{
  width:80px;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.mgw-td-legend{
  font-size:small;
  font-style:italic;
  padding-left:20px;
}

.mgw-td-1stlabel-top{
  width:250px;
}

.mgw-td-page{
  width:250px;
  margin-left:20px;
}
.mgw-td-last{
  width:20px;
}
