.mgw-ooui-submit{
  margin:20px 50px;
}
.mgw-user-ok{
  color: green;
}
.mgw-user-wrong{
  color: red;
}
.mgw-user-incomplete{
  color: orange;
}
.mgw-flex{
  display:flex;
}
#mgw-restore-btn{
  display:none;
}
