/* special account request styles */
/*
#institution-label{
  vertical-align: top;
}*/
.mgw-accountrequest-intro{
  display:none;
}
.mgw-hidden{
  display:none;
}
#captcha{
  border: 1px solid red;
  border-radius: 10px;
  background:#f1e8e8;
}
